<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de empleados</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	Lista de empleados:
	<table border='1'>
		<th:block th:each="per : ${listaEmp}">
			<tr>
				<td th:text="${per.id}"></td>
				<td th:text="${per.nombre}"></td>
				<td th:text="${per.apellidos}"></td>
			</tr>
		</th:block>	
	</table> 
	<br/>
			
    Lista de empleados que contenga una 'e' en su nombre:
    <table border='1'>
      <th:block th:each="per : ${listaEmpConE}">
        <tr>
          <td th:text="${per.id}"></td>
          <td th:text="${per.nombre}"></td>
          <td th:text="${per.apellidos}"></td>
        </tr>
      </th:block>	
    </table>
	<br/>
		
		Lista de empleados que contenga una 'o' en su nombre:
    <table border='1'>
      <th:block th:each="per : ${listaJPA}">
        <tr>
          <td th:text="${per.id}"></td>
          <td th:text="${per.nombre}"></td>
          <td th:text="${per.apellidos}"></td>
        </tr>
      </th:block>	
    </table>
    <br/>
		
		Lista de empleados con nombre Rocio:
    <table border='1'>
      <th:block th:each="per : ${listaEmpNombreExacto}">
        <tr>
          <td th:text="${per.id}"></td>
          <td th:text="${per.nombre}"></td>
          <td th:text="${per.apellidos}"></td>
        </tr>
      </th:block>	
    </table>
	</body>
</html>